.au {
  .header {
    background-image: url(../img/au-banner.jpg);
  }
}

.au-description {
  padding: 50px 15px;

  &__title {
    margin: 0;
    margin-bottom: 30px;
  }

  &__text {
    font-size: $big-font;
    font-weight: 400;
  }
}

.au-duty {
  color: $white;
  background-image: url(../img/au-duty-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h2 {
    margin: 24px 0;
  }

  span {
    font-size: $bigger-font;
  }

  img ~ span {
    margin-left: 14px;
  }

  &__detail {
    padding: 20px 15px 40px;
    background-color: #333;
    opacity: 0.7;
  }

  &__title,
  &__content {
    padding: 30px 0;
  }

  &__vision-item {
    display: inline-block;
    margin: 0 34px;
  }
}

.au-map {
  padding: 74px 0;

  #allmap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  &__map {
    position: relative;
    width: 100%;
    padding-top: 66%;
    background-color: $middle-gray-2;
  }

  &__info {
    display: inline-block;
    float: right;

    li,
    p {
      line-height: 1.5em;
    }
  }

  &__company-name {
    font-weight: 500;
  }
}

@media (max-width: 1023px) {
  .au-description {
    max-width: 768px;
    margin: auto;

    &__text {
      font-size: $main-font;
    }
  }

  .au-duty {

    &__vision-item {
      margin: 0 10px;
    }

    &__title,
    &__content {
      padding: 10px 0;
    }

    span {
      font-size: $big-font;
    }
  }

  .au-map {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 767px) {
  .au-description {
    &__text {
      font-size: $small-font;
    }
  }

  .au-duty {

    img {
      max-width: 26px;
    }

    &__detail {
     padding: 20px 15px;
    }

    &__visions {
      text-align: left;
      display: inline-block;
    }

    &__vision-item {
      padding: 20px 0;
      display: block;
    }
  }

  .au-map {
    .col-7,
    .col-5 {
      width: 100%;
    }

    .au-map__info {
      display: block;
      float: none;
      margin: 20px 0;
    }
  }
}