@import './_var.scss';

.form-header {
  background-color: $white;
  margin-bottom: 40px;

  .header__detail {
    margin: 0 auto;
  }

  .header__detail:after {
    content: "";
    display: block;
    clear: both;
  }

  .header-nav a {
    color: $main-color;
  }
}

.form-footer {
  margin-top: 40px;
}

.form-body {
  background-color: $light-gray;
}

.form {
  &-wrapper {
    background-color: $white;
    padding: 40px 15px;
    margin: 0 auto;
  }

  &-group {
    &__label {}

    &__input {}

    &__select {}

    .error,
    &__require {
      color: red;
    }
  }

  &__title {
    display: inline-block;
    margin: 0 auto 10px;
  }

  &__description {
    margin-bottom: 35px;
  }

  .form-group .error,
  .form-group__require,
  .form-group__label {
    display: inline-block;
    width: 70%;
    text-align: left;
    line-height: 1.5;
  }

  .form-group__label, .form-checkbox__label {
    font-size: $bigger-font;
  }

  .form-checkbox {
    display: inline-block;
    margin-right: 40px;
  }

  .form-group__input, .form-group__select {
    display: block;
    width: 70%;
    height: 60px;
    margin: auto;
    text-align: left;
  }

  .form-group {
    margin-bottom: 35px;
  }

  &__submit {
    width: 70%;
    text-align: left;
    margin: auto;

    .submit {
      width: 130px;
      height: 48px;
      border-radius: 2px;
      background-color: $theme-color;
    }
  }
}