.is {
	.header {
    background-image: url(../img/is-banner.jpg);
  }
}

.is-rate {
	padding-bottom: 55px;

	&__title {
		width: 730px;
		margin: 45px auto 35px;
		text-align: left;
	}

	&__item {
		width: 16%;
		text-align: center;
		display: inline-flex;
	}

	&__item-out {
		position: relative;
		background-image: url(../img/common-oval-bg.png);
    width: 140px;
    height: 140px;
    margin: auto;
  }

  &__item-in{
    > * {
    	font-size: $bigger-font;
    	position: absolute;
    	left: 0;
    	right: 0;
    }

    :first-child {
    	top: 45px;
    }

    :last-child {
    	bottom: 45px;
    }
  }
}

.is-intro {
	&__block {
		padding: 105px 150px 0 105px ;

		h3 {
			font-weight: normal;
		}

		> p {
			position: relative;
			line-height: 1.5;
		}
	}

	&__block-text {
		display: inline-block;
		margin-bottom: 5px;
	}

	&__question:before {
		content: '';
		background-image: url('../img/is-question.png');
		position: absolute;
		width: 24px;
		height: 28px;
		left: -40px;
	}

	&__exclamation:before {
		content: '';
		background-image: url('../img/is-exclamation.png');
		position: absolute;
		width: 24px;
		height: 28px;
		left: -40px;
	}
}