.mw {
  .header {
    background-image: url(../img/mw-banner.jpg);
  }

  .header__title h1 {
    margin-top: 0;
  }
}

.mw-annoy {
  padding: 50px 15px;

  p {
    margin: 0;
    line-height: 1.7em;
  }

  &__title {
    margin: 0 0 40px;
  }

  &__list {
    padding: 10px 0;
    margin-top: 20px;
  }

  &__item {
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
    width: 140px;
    height: 140px;
    border: 2px dashed $middle-gray-1;
    border-radius: 50%;
  }

  &__item-content {
    width: 100%;
    height: 100%;
    border: 3px solid $middle-gray-1;
    border-radius: 50%;
  }

  &__item-text {
    display: block;
    margin: 50% auto 0;
    font-weight: 500;
    max-width: 90px;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}

.mw-intro {
  background-image: url(../img/mw-power-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__detail {
    color: $white;
    background-color: #333;
    opacity: 0.7;
  }

  .container {
    padding: 60px 0 56px;
  }

  &__text {
    margin: 0;
    line-height: 1.5em;
  }

  &__list {
    &:after {
      content: "";
      display: block;
      clear: both;
    }

    img {
      margin-bottom: 10px;
      height: 48px;
    }
  }

  &__item {
    margin: 24px 0 6px;
  }

  &__item-text {
    font-size: $biggest-font;
  }
}

.mw-advantage {
  padding: 60px 0;

  &__title {
    margin: 0;
  }

  &__list {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__item {
    margin: 30px 0;
  }

  &__item-intro {
    padding-left: 20px;
  }

  &__item-title {
    margin: 0 0 10px;
  }
}

@media (max-width: 1023px) {
  .mw-annoy {
    max-width: 768px;

    &__list {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .mw-advantage {
    .col-4 {
      padding-left: 10%;
      padding-right: 10%;
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .mw-intro {
    &__item-text {
      display: block;
      margin: auto;
      max-width: 180px;
    }
  }
}

@media (max-width: 600px) {
  .mw {
    .header {
      h1 {
        font-size: $surpport-font;
      }

      h2 {
        font-size: $main-font;
      }
    }
  }

  .mw-annoy {
    &__title {
      font-size: $big-font;
    }

    &__item {
      display: block;
      margin: 20px auto;
    }
  }

  .mw-intro {
    .col-6 {
      width: 100%;
    }
  }

  .mw-advantage {
    .col-4 {
      width: 100%;
      padding-left: 15%;
      padding-right: 15%;
    }
  }
}