.system {
  .header {
    background-image: url(../img/system-banner.jpg);
  }
}

.system-description {
  padding: 0 15px;
  margin: 50px auto 60px;

  &__title {
    padding: 10px 0;
    margin: 0;
  }

  &__text {
    line-height: 1.5em;
    padding: 10px;
    margin: 0;
  }
}

.system-char {
	&__img, &__list {
		display: inline-block;
		vertical-align: middle;
	}
}

.system-docking {
  padding: 70px 15px 40px;
  background-color: $main-color;
  color: $white;

  &__platform-item {
    display: inline-block;
  }

  &__systems {
    position: relative;
    padding: 30px 0;

    &:before {
      content: "";
      position: absolute;
      display: block;
      top: 2%;
      left: 50%;
      width: 1px;
      height: 25%;
      background-color: $white;
    }
  }

  &__logo {
    position: absolute;
    max-width: 120px;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -10px);
    -webkit-transform: translate(-50%, -10px);
    -moz-transform: translateX(-50%, -10px);
    -ms-transform: translateX(-50%, -10px);

    img {
      max-width: 100%;
    }
  }

  &__platform {
    display: inline-block;
    padding: 20px;
    border: 2px dashed $white;
    border-radius: 10px;

    span {
      font-size: $bigger-font;
    }
  }

  &__erp,
  &__express {
    position: relative;
  }

  &__erp:after,
  &__express:before {
    content: "";
    position: absolute;
    top: 30%;
    display: block;
    width: 30%;
    height: 1px;
    background-color: $white;
  }

  &__erp:after {
    left: 54%;
  }

  &__express:before {
    right: 54%;
  }

  &__systems,
  &__erp-list,
  &__express-list {
    &:after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__erp-brands,
  &__express-brands {
    position: relative;
    padding: 0 30px;
    border: 2px dashed $white;
    width: 54%;
    max-width: 322px;
    border-radius: 10px;

    p {
      font-size: $bigger-font;
    }
  }

  &__express-brands {
    margin-left: 46%;
  }

  &__platform-item {
    margin: 5px;
  }

  &__erp-item {
    margin-bottom: 15px;
  }

  &__express-item {
    margin-bottom: 30px;
  }

  &__erp-intro,
  &__express-intro {
    position: relative;
    text-align: center;

    span {
      display: inline-block;
      max-width: 145px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 1px;
      height: 40%;
      background-color: $white;
    }

    &:after {
      content: "";
      position: absolute;
      top: 40%;
      width: 40%;
      height: 1px;
      background-color: $white;
    }
  }

  &__erp-intro:before,
  &__erp-intro:after {
    left: 0;
  }

  &__express-intro:before,
  &__express-intro:after {
    right: 0;
  }

  &__erp-intro {
    margin-left: 30%;
  }

  &__express-intro {
    margin-right: 30%;
  }
}