.wi-intro {
  padding: 52px 0 70px;
  
  &__text {
    display: inline-block;
    max-width: 690px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 22px;
    text-align: left;
    font-size: $big-font;
  }

  &__list {
    margin-top: 44px;
    overflow: hidden;
  }

  &__item {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    padding: 0 22px;
  }

  &__item-content {
    display: table-cell;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url(../img/common-oval-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }

  &__item-text {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
  }
}

.wi-advantage {
  padding: 85px 0 100px;
  background: $light-gray;

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__list {
    margin-top: 42px;
    overflow: hidden;
  }

  &__item {
    display: table;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 50px;
    text-align: left;
    vertical-align: top;
  }

  &__item-img-wrapper {
    display: table-cell;
    vertical-align: top;
  }

  &__item-img {
    background: black;
    width: 50px;
    height: 50px; //TODO: remove it
  }

  &__item-intro {
    display: inline-block;
    max-width: 220px;
    padding-left: 10px;
  }

  &__item-title {
    margin-top: 0;
    margin-bottom: 10px;
    color: $darker-gray;    
  }

  &__item-text {
    margin: 0;
  }
}