@import './var';

html {
  font-family: PingFangSC, "PingFang SC", "Helvetica Neue", -apple-system, Arial, sans-serif;
  font-size: $main-font;
  color: $main-color;
}

body {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: $biggest-font;
}

h3 {
  font-size: $bigger-font;
}

label,
a {
  font-size: $big-font;
}

h4,
p {
  font-size: $main-font;
}

.container {
  width: 960px;
  margin: 0 auto;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

@import './homepage';
@import './about-us';
@import './overseas-warehouse';
@import './warehouse-integration';